[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-cors = "*"
"neo4j-driver" = "*"
gunicorn = "==19.7.1"
pylint = "==1.8.2"
flask-restful = "*"
pytest = "==3.0.6"
pandas = "*"
networkx = "*"
python-louvain = "*"


[dev-packages]

